@color: #fff;
@linkColor: #f0a;
@backgroundColor: #333;
@accentColor: #aab;

* {
    box-sizing: border-box;
}

html, body {
    background-color: @backgroundColor;
    color: @color;
    height: 100%;
    min-height: 100%;
}

#wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 150px 0 300px;
    min-height: 100%;
    min-width: 100%;
}

textarea {
    height: 250px;
}

#main-nav {
    padding: 40px;
}

a:link, a:visited {
    color: @linkColor;
}

a:hover, a:active {
    color: @accentColor;
}

#contact-page {
    min-height: 100%;
}

#contact-info {
    padding: 20px;
}

input[type=submit] {
    margin-top: 5px;
}

footer {
    box-sizing: border-box;
    background-color: darken(@backgroundColor, 5%);
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}